Options +FollowSymLinks
RewriteEngine On

# Permitir acesso direto a arquivos (como /docs/index.html, /swagger.json etc)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Redirecionar todas as outras requisições para index.php
RewriteRule ^ index.php [QSA,L]