<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         cacheResult="false"
         colors="true"
         executionOrder="random"
         failOnEmptyTestSuite="true">

  <testsuites>
    <testsuite name="Testes do Gestor Acadêmico">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>

  <coverage>
    <report>
      <html outputDirectory="coverage-report" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>

</phpunit>